.Navbar2-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 100px 10px 40px;
background-color: white;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.swiggy-logo-other{
    display: flex;
    align-items: center;
    gap: 10px;

}
.nav-items-list ul{
    list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
    
}
.nav-items-list li {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
}
.nav-items-list li:hover {
  color: #fc8019;
}